<ion-header>
  <ion-toolbar>
    <ion-title>
      Educação e Habilidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img background-size="20%" src="/assets/developer.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Apresentação</ion-card-subtitle>
      <ion-card-title>Áderis Martins</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicação criada apenas para conhecer a estrutura do Ionic</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-header>
      <ion-text color="dark">
        <h4>Habilidades</h4>
      </ion-text>
    </ion-header>
    <ion-item-group>
      <ion-item>
        <ion-label>Html5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Css3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Javascript</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Java</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Angular</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pl/Sql</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Linux</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-header>
      <ion-text color="dark">
        <h4>Educação</h4>
      </ion-text>
    </ion-header>

    <ion-item-group>
      <ion-item>
        <ion-icon slot="start" color="medium" name="school"></ion-icon>
        <ion-label>Unicesumar – Análise e Desenvolvimento de Sistemas</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label>5º Semestre – em andamento - 2017 ~ 2019</ion-label>
      </ion-item-divider>
    </ion-item-group>

    <ion-item-group>
      <ion-item href="https://www.udemy.com/user/aderis/">
        <ion-icon slot="start" color="medium" name="flame"></ion-icon>
        <ion-label>Udemy</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label>www.udemy.com/user/aderis/</ion-label>
      </ion-item-divider>
    </ion-item-group>

    <ion-item-group>
      <ion-item>
        <ion-icon slot="start" color="medium" name="rocket"></ion-icon>
        <ion-label>Entra21</ion-label>
      </ion-item>
      <ion-item-divider>
        <ion-label>Desenvolvimento Java - 400hrs</ion-label>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>
</ion-content>